@model List<Presupuesto.Ver_Solicitudes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aprobar o Rechazar Solicitudes</h2>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

@using (Html.BeginForm("AprobSoli", "Ver_Solicitudes", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <!-- Encabezados de la tabla -->
            <th>ID</th>
            <th>Tipo</th>
            <th>Solicitante</th>
            <th>Departamento Origen</th>
            <th>Partida Origen</th>
            <th>Departamento Destino</th>
            <th>Partida Destino</th>
            <th>Monto</th>
            <th>Estado Solicitud</th>
            <th>Acciones</th>
        </tr>

        <!-- Filas con datos -->
        @foreach (var solicitud in Model)
        {
            if (solicitud.Estado_Solicitud == "Enviada")
            {
                <tr>
                    <!-- Datos de la tabla -->
                    <td>@solicitud.ID</td>
                    <td>@solicitud.Tipo</td>
                    <td>@solicitud.Solicitante</td>
                    <td>@solicitud.Depto_Origen</td>
                    <td>@solicitud.Partida_Origen</td>
                    <td>@solicitud.Depto_Destino</td>
                    <td>@solicitud.Partida_Destino</td>
                    <th>@solicitud.Monto</th>
                    <td>@solicitud.Estado_Solicitud</td>
                    <td>
                        <!-- Botones para aprobar y rechazar la solicitud -->
                        <input type="submit" name="submitBtn" value="Aprobar Solicitud" formaction="@Url.Action("AprobSoli", "Ver_Solicitudes", new { id = solicitud.ID })" class="btn btn-primary" />
                        <input type="submit" name="submitBtn" value="Rechazar Solicitud" formaction="@Url.Action("RechaSoli", "Ver_Solicitudes", new { id = solicitud.ID })" class="btn btn-primary" />
                    </td>
                </tr>
            }
        }
    </table>
    <!-- Agregar un botón de envío para el formulario -->
    <input type="submit" name="submitBtn" value="Enviar" />
}
