@model List<Presupuesto.Ver_Solicitudes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aprobar o Rechazar Solicitudes</h2>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

@using (Html.BeginForm("AprobarSolicitud", "Prueba", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>
            <!-- Encabezados de la tabla -->
            <th>ID</th>
            <th>Tipo</th>
            <th>Solicitante</th>
            <th>Departamento Origen</th>
            <th>Partida Origen</th>
            <th>Departamento Destino</th>
            <th>Partida Destino</th>
            <th>Estado Solicitud</th>
            <th>Acciones</th>
        </tr>

        <!-- Filas con datos -->
        @foreach (var solicitud in Model)
        {
            if (solicitud.Estado_Solicitud == "Enviada")
            {
                <tr>
                    <!-- Datos de la tabla -->
                    <td>@solicitud.ID</td>
                    <td>@solicitud.Tipo</td>
                    <td>@solicitud.Solicitante</td>
                    <td>@solicitud.Depto_Origen</td>
                    <td>@solicitud.Partida_Origen</td>
                    <td>@solicitud.Depto_Destino</td>
                    <td>@solicitud.Partida_Destino</td>
                    <td>@solicitud.Estado_Solicitud</td>
                    <td>
                        <!-- Botones con atributos data para almacenar los IDs -->
                        <input type="submit" name="submitBtn" value="Aprobar Solicitud" formaction="@Url.Action("AprobarSolicitud", "Prueba", new { id = solicitud.ID })" class="btn btn-primary" />
                        <button type="button" class="btn-rechazar" data-id="@solicitud.ID">Rechazar Solicitud</button>
                        <div class="motivo-rechazo" style="display: none;">
                            <label for="motivo-@solicitud.ID">Motivo del Rechazo:</label>
                            <input type="text" id="motivo-@solicitud.ID" />
                            <button type="button" class="btn-confirmar-rechazo" data-id="@solicitud.ID">Confirmar Rechazo</button>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
    <!-- Agregar un botón de envío para el formulario -->
    <input type="submit" name="submitBtn" value="Enviar" />
}
